**/.*
**/**/.*
**/**/**/.*
**/**/**/**/.*
**/**/**/**/**/.*
**/**/**/**/**/**/.*
.pydevproject
.project
.settings/*
**/*.pyc
**/**/*.pyc
**/**/**/*.pyc
**/**/**/**/*.pyc
**/**/**/**/**/*.pyc
**/**/**/**/**/**/*.pyc
