{% extends "layout.html" %}
{% block title %}DotA Book|关于本站{% endblock %}
{% block content %}
<div class="l_content">
	<div class="intro">
		<div class="box">
			<div class="box_header">
				<div class="title">关于本站</div>
				<div class="clear"></div>
			</div>
			<div class="box_content">
				DotA Book是一个DOTA的资料库，记录一些DOTA(<span class="info2">6.71b</span>)英雄及物品装备的资料。由个人开发，做成新浪微博的应用程序。
				目前处于测试阶段，有很多不完善的地方，我每天都会进步的。请大给我留言@Conan_Z。
				<p><span class="info2">网站使用Python语言：Flask + Apache(mod_wsgi)，也欢迎开发者一起交流。</span></p>
			</div>
		</div>
	</div>
	<div class="comment">
		<div class="box">
			<div class="box_header">
				<div class="title">每天都在进步</div>
				<div class="clear"></div>
			</div>
			<div class="box_content">
				<div class="upgrade"></div>
			</div>
		</div>
	</div>
</div>
{% endblock%}

{% block foot %}
<script type="text/javascript">	
	$.getJSON('/rest/upgrade/0',function(res){
		var ups = res.upgrades;
		html  = '<ul>'
		for(var i=0;i<ups.length;i++){
			html += '<li>'
			html += ups[i].datetag+'&nbsp;&nbsp;'+ups[i].title
			html += '</li>'
		}
		html += '</ul>'
		$('.upgrade').html(html);
	})
</script>
{% endblock %}
