{% extends "layout.html" %}
{% block title %}DotA Book|首页{% endblock %}
{% block content %}
	<div class="left">
		<h1>DotA Book是一个DOTA的资料库，记录一些DOTA(<span style="color:red">6.71b</span>)英雄及物品装备的资料。</h1>
		<h2>由个人开发，准备做成新浪微博的应用程序。</h2>
		<p>目前处于测试阶段，有很多不完善的地方，我每天都会进步的。请大给我留言@Conan_Z</p>
		<p><a href="/about">查看每日更新</a></p>
		<p>&nbsp;</p>
		<a href="/oauth/?backurl={{SERVER}}/heroes"><img src="{{STATIC}}/image/sina/48.png"/></a>
	</div>
	<div class="right">
		<img id="monitor" src="{{STATIC}}image/layout/monitor.jpg" width="375" height="370"/>
	</div>
{% endblock%}
