{% extends "layout.html" %}
{% block title %}DotA Book|首页{% endblock %}
{% block content %}
<div class="l_content">
	<div class="intro">
		<div class="box">
			<div class="box_header">
				<div class="title">网站介绍</div>
				<div class="clear"></div>
			</div>
			<div class="box_content">
				DotA Book是一个DOTA的资料库，记录DOTA(<span class="info2">6.71b</span>)英雄及物品装备的资料。由个人开发，做成新浪微博的应用程序。
				目前处于测试阶段，有很多不完善的地方，我每天都会进步的。
				<p><span class="info2">网站使用Python语言：Flask + Apache(mod_wsgi)，也欢迎开发者一起交流。</span></p>
				<p>请大家给我留言: <a href="http://t.sina.com.cn/dotabook" target="_blank">@Conan_Z</a></p>
			</div>
		</div>
	</div>
	<div class="comment">
		<div class="box">
			<div class="box_header">
				<div class="title">玩家评论</div>
				<div class="clear"></div>
			</div>
			<div class="box_content">
				增加用户名片功能
				重新设计网站UI
			</div>
		</div>
	</div>
</div>

<div class="r_content">
	{% if login.login %}
	<div class="login">
		<div class="box">
			<div class="box_header">
				<div class="title">用户信息</div>
				<div class="btn">
					{% if login.admin %}
					<a href="/admin">管理员</a>&nbsp;|&nbsp;
					{% endif %}
					<a href="/logout">退出</a>
				</div>
				<div class="clear"></div>
			</div>
			<div class="box_content">
				<div class="userinfo">
					<div class="nc_l"> 
						<a href="{{login.user.url}}" uid="{{login.user.uid}}" target="_blank">
							<img src="{{login.user.profile_image_url}}" class="img50" uid="{{login.user.uid}}" title="{{login.user.screen}}"/>
						</a>
					</div>
					<div class="nc_r">
						<a href="{{login.user.url}}" uid="{{login.user.uid}}" target="_blank">{{login.user.screen}}</a>
							{% if login.user.verified == 1 %}
							<img src="http://1.dotabook.sinaapp.com/static/image/layout/v.gif" width="8"/>
							{% endif %}
						<br/>
						{% if login.user.gender =='m' %}男{%else%}女{% endif%}&nbsp;&nbsp;{{login.user.location}}<br/>
						<a href="{{login.user.url}}/follow" target="_blank">关注</a>&nbsp;{{login.user.follow_count}}&nbsp;&nbsp;
						<a href="{{login.user.url}}/fans" target="_blank">粉丝</a>&nbsp;{{login.user.fans_count}}&nbsp;&nbsp;
						<a href="{{login.user.url}}" target="_blank">微博</a>&nbsp;{{login.user.tweet_count}}<br/>
					</div>
					<div class="clear"></div>
					<div class="nc_b">
						简介：{{login.user.description}}
					</div>
				</div>
			</div>
		</div>
	</div>
	{% else %}
	<div class="login">
		<div class="box">
			<div class="box_header">
				<div class="title">网站登陆&nbsp;&nbsp;&nbsp;<span class="info2 size12">(目前只支持新浪微博用户)</span></div>
				<div class="clear"></div>
			</div>
			<div class="box_content">
				<a href="/oauth/?backurl={{SERVER}}"><img src="{{STATIC}}image/layout/sina_t_btn.png" height="25px"/></a>
			</div>
		</div>
	</div>
	{% endif %}
	<div class="newer">
		<div class="box">
			<div class="box_header">
				<div class="title">新加入用户</div>
				<div class="clear"></div>
			</div>
			<div class="box_content">
				<div class="user_head_list"></div>
			</div>
		</div>
	</div>
	<div class="daily">
		<div class="box">
			<div class="box_header">
				<div class="title">每天都在进步</div>
				<div class="clear"></div>
			</div>
			<div class="box_content">
				<div class="upgrade"></div>
			</div>
		</div>
	</div>
</div>
{% endblock%}

{% block foot %}
<script type="text/javascript">
	$.getJSON('/rest/user/newer/8',function(res){
		var users = res.users;
		html  = '<ul>'
		for(var i=0;i<users.length;i++){
			html += '<li>'
			html += '<div class="user_head">'
			html += '<div class="t_pic">'
			html += '<a href="http://t.sina.com.cn/'+users[i].uid+'"><img class="img50" src="'+users[i].profile_image_url+'"></a>' 
			html += '</div>'
			html += '<div class="m_name">'
			html += '<a href="javascript:void(0);" title="'+users[i].screen+'">'+users[i].screen.substring(0,6)+'</a>'
			html += '</div>'
			html += '</div>'
			html += '</li>'
		}
		html += '</ul>'
		html += '<div class="clear"></div>'
		$('.user_head_list').html(html);
	})
	
	$.getJSON('/rest/upgrade/0',function(res){
		var ups = res.upgrades;
		html  = '<ul>'
		for(var i=0;i<ups.length;i++){
			html += '<li>'
			html += ups[i].datetag+'&nbsp;&nbsp;'+ups[i].title
			html += '</li>'
		}
		html += '</ul>'
		$('.upgrade').html(html);
	})
</script>
{% endblock %}
