{% extends "layout.html" %}
{% block title %}DotA Book|英雄列表{% endblock %}
{% block head %}
<script src="{{STATIC}}js/heroes.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class="l_content">
	<div class="intro">
		<div class="box">
			<div class="box_header">
				<div class="title">英雄资料</div>
				<div class="clear"></div>
			</div>
			<div class="box_content">
				<div id="heroes">
					<ul>
						<li>英雄属性：</li>	
						<li><a href="javascript:void(0);" class="btn5" basic="all">所有</a></li>
						<li><a href="javascript:void(0);" class="btn5" basic="S">力量</a></li>
						<li><a href="javascript:void(0);" class="btn5" basic="A">敏捷</a></li>
						<li><a href="javascript:void(0);" class="btn5" basic="I">智力</a></li>
					</ul>
				
					{% for hero in heroes %}
					<div class="hero_pic" hid="{{hero.id}}" basic="{{attrs[hero.id].basic}}">
						<a href="/heroes/{{ hero.id }}">
							<img value="{{hero.id}}" class="img45" src="{{STATIC}}image/portrait/45/{{images[hero.id].image45}}"/>
						</a>
					</div>
					{% endfor %}
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock%}

{% block foot %}
<script type="text/javascript">
	$(document).ready(function(){
		$('#heroes .img45').each(function(){
			var hid = $(this).attr("value");
			$(this).qtip({
				content: heroes[hid],
				show:{solo:true},
				style: {name: 'dark',border: {width: 1},width:252},
				position:{corner:{target:'topRight',tooltip:'leftMiddle'}}
			});
		});
		
		$('#heroes .btn5').click(function(){
			var basic = $(this).attr('basic');		
			
			$('#heroes .btn5_current').removeClass('btn5_current').addClass('btn5');
			$(this).removeClass('btn5').addClass('btn5_current')
			
			if(basic=='all'){
				$('#heroes .hero_pic').each(function(){$(this).show()});
			}else if(basic=='S'){
				hide_all();
				$('#heroes .hero_pic[basic="S"]').each(function(){$(this).show()});
			}else if(basic=='A'){
				hide_all();
				$('#heroes .hero_pic[basic="A"]').each(function(){$(this).show()});
			}else if(basic=='I'){
				hide_all();
				$('#heroes .hero_pic[basic="I"]').each(function(){$(this).show()});
			}
		});
		
		function hide_all(){
			$('#heroes .hero_pic').each(function(){$(this).hide()});
		}
		
		$('#heroes .btn5[basic="all"]').removeClass('btn5').addClass('btn5_current');
		
	})
</script>
{% endblock %}
