
body
{
height:100%;
background:#000000;
margin:0px;
/*color:#FFFFFF;*/
padding:0px;
height:100%;
font-family: "Myriad Pro", arial, sans-serif;
font-size:12px;
color:#eeeeee;
}

body a
{
color:#eeeeee;
}

.menu li img,.editor img,.content,.footer ul li img
{
behavior: url(/css/png.htc);
}

hr, div, span, font,img,h1,h2,form,p,h3,form {
padding:0px;
margin:0px;
line-height: 1.5;
border:0;
}


.details
{
background:url(/site/dBG.jpg) repeat-y;
width:609px;
}
.details h1 span
{
font-size:12px;
}
.details h1
{
background:url(/site/dH1.jpg) top center no-repeat;
height:47px;
color:#E07F00;
font-size:17px;
font-weight:normal;
padding-top:30px;
padding-left:20px;

}
.details .ulc
{
list-style-type:none;
background:url(/site/dP.jpg) bottom center no-repeat;
padding-left:20px;
padding-right:20px;
padding-bottom:20px;
color:#A1A1A1;

}

.newsdetails td, .newsdetails th, .newsdetails p, .newsdetails li
{
        background: #101410;
        font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	color:#919390;
}
.newsdetails table
{
        background: #141414;
        color: #CACACA;
        border: 1px solid #232220;
        padding: 2px;
}
.newsdetails 
{
color:#7F937E !important;
font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}

.details .ulc p
{
padding:0px;
padding-left:30px;
color:#A1A1A1;
margin-bottom:2px;
}
.details .ulc ul
{
list-style-type:none;
padding:0px;
margin:0px;
border:0;
}

.details .ulc li
{
margin-bottom:10px;
}

.details .dt a
{
text-decoration:none;
color:#58A8C7;
}
.details .dt
{
font-family: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
font-size:11px;
color:#D5D5D5;
padding-left:20px;
padding-right:20px;
background:url(/site/dP.jpg) bottom center no-repeat;
padding-bottom:20px;
color:#919390;
font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;

}
.header
{
width:980px;
height:349px;
background:url(/site/header.jpg) no-repeat top;
margin:0px;
padding:0px;
}

.menu
{
list-style-type:none;
padding:0px;
margin:0px;
border:0;
margin-top:160px;
margin-left:73px;
}


.menu li
{
font-family: "Times New Roman", Times, serif; 
float:left;
padding-top:42px;
margin-right:8px;
color:#cccccc;

}

.menu .sh
{
width:140px;
cursor:pointer;
height:100px;
}
.menu .sh a div
{
width:130px;height:130px;
position:relative;
top:-60px;
cursor:pointer;
}

.menu .ll
{
background:url(/site/ll.jpg) no-repeat right top;
position:relative;
padding:0px;
margin:0px;
width:126px;
padding-top:100px;
}

.editor
{
margin-top:-50px;
float:left;
margin-left:120px;
background-color:#080808;
border:1px solid #2e2e2e;
padding:6px;
padding-top:3px;
color:#CCCCCC;
position:relative;
top:-20px;
z-index:1;
}

.editor a
{
color: #FE9100;
text-decoration:none;
}
.editor a:hover
{
color:#CCCCCC;
}

.loginbox
{
float:right;
margin-top:-40px;
padding-right:80px;
position:relative;
top:-18px;
z-index:20;
}
 
.welcomebox a
{
text-decoration:none;
color:#cccccc;
}

.iceblog
{
position:relative;
top:-70px;
left:336px;
}
.welcomebox
{
float:right;
padding:5px;

margin-right:80px;
font-weight:normal;
font-family: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
font-size:11px;
margin-top:-52px;
position:relative;
top:-18px;
line-height:0.8;
z-index:2;
}

.loginbox .linput
{
height:18px;
background-color: #151515;
border:1px solid #2e2e2e;
width:94px;
padding-left:10px;
color:#005188;
font-size:12px;
padding-top:3px;
}

.loginbox span
{
font-family: "Myriad Pro", arial, sans-serif;
font-weight:normal;
font-size:11px;
color:#cccccc;
text-align:right;
margin-right:38px;
}

.loginbox span a
{
color:#FFFFFF;
text-decoration:none;
}
.loginbox span a:hover
{
color:#333333;
}


.leftSide
{
float:left;
width:630px;
padding-left:18px;
}

.rightSide
{
float:left;
width:200px;
margin-right:5px;
}

.website
{
clear:both;
top:0px;
width:980px;
padding:0px;
position:relative;
top:-10px;
}

.site
{
width:871px;
padding-top:00px;
margin:0px;
}



.ls
{
float:left;
width: 78px;
height:900px;
background:url(/site/ln.png) left center repeat-y;
}

.rs
{
float:right;
width: 78px;
height:900px;
background:url(/site/lr.png) right center repeat-y;
}


.content
{
background:url(/site/bgc.png) top center repeat-y;
padding-left:20px;
width:928px;
}

.cs
{
background:#000000;
float:left;
width: 820px;
height:500px;
position:relative;
top:-1px;
background:#000000 url(/site/shield.jpg) center top no-repeat;
}


.footer
{
height:131px;
background:url(/site/footer.jpg) center top no-repeat;
width:934px;
color:#a1a1a1;
font-size:12px;
font-weight:normal;
}

.footer a
{
color:#a1a1a1;
text-decoration:none;
}

.footer ul
{
list-style-type:none;
margin:0px;
padding:0px;
margin-top:28px;
margin-left:148px;

}

.footer ul li
{
float:left;
margin-right:8px;
margin-bottom:20px;

}
.footer .sh
{
width:65px;
}
.box ul
{
list-style-type:none;
padding:0px;
margin:0px;
border:0;
}
.box
{
width:200px;
margin-bottom:20px;
}

.box .on
{
background-color:#171717;
}
.box li a
{
text-decoration:none;
}

.box li
{
padding:5px;
font-size:11px;
font-weight:normal;
font-family: geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}

.box div
{
border:1px solid #212121;
background-color:#0D0D0D;
text-align:left;
padding:3px;
}

.mission
{
width:615px;
height:216px;
background:url(/site/missionbg.jpg) no-repeat;
list-style-type:none;
padding:25px;
margin:0px;
border:0;
}

.mission p
{
width:565px;
height:216px;
list-style-type:none;
}

.webdev
{
width:615px;
height:185px;
background:url(/site/webbg.jpg) no-repeat;
list-style-type:none;
padding:25px;
margin:0px;
border:0;
}

.webdev p
{
width:565px;
height:185px;
list-style-type:none;
}


.spot
{
width:615px;
height:316px;
background:url(/site/nspotbg.jpg) no-repeat;
list-style-type:none;
padding:0px;
margin:0px;
border:0;
}
.spot li small
{
font-size:11px;
color: #A2A2A2;
}

.spot .pspot
{
margin-top:18px;
color:#D4D4D4;
height:200px;
display:block;

}
.spot li a
{
color:#015385;
text-decoration:none;
}

.spot li
{
width:265px;
float:left;
padding-left:25px;
padding-top:20px;
padding-right:10px;
}

.btitle
{
background:url(/site/tbg.png) left bottom no-repeat;
color:#FFFFFF;
font-weight:normal;
font-size:16px;
padding-bottom:9px;
padding-left:5px;
}
.heroguides a
{
text-decoration:none;
}

.comlist a
{
color:#0182D3 !important;
text-decoration:none;
}
.blw a
{
color:#0182D3;
text-decoration:none;
}
.blw a:hover
{
color:#0182D3;
text-decoration:underline;
}

.heroguides div
{
margin-left:9px;
margin-top:7px;
}

.heroguides li
{
float:left;
width:200px;
}

.heroguides
{
list-style-type:none;
padding:0px;
margin:0px;
border:0;
margin-top:20px;
}


.pLeft a, .pRight a,.frep a
{
text-decoration:none;
}

.pLeft ul,.pRight ul
{
list-style-type:none;
padding:0px;
margin:0px;
border:0;
margin-top:15px;

}
.pLeft
{
float:left;
width:270px;
background:url(/site/fanline.png) center right no-repeat;
padding-right:20px;
}
.pRight
{
float:left;
width:270px;
padding-left:20px;
}

.pLeft ul li, .pRight ul li
{
float:left;
width:135px
}

.pLeft div,.pRight div
{
border:1px solid #2E2E2E;
width:110px;
height:87px;
padding-top:10px;
margin-bottom:10px;
text-align:center;
}

.blw
{
color:#0182D3;
}

.spot li h1
{
color:#FF8F02;
font-size:15px;
font-weight:normal;
}
.spot li h1 a
{
color:#FF8F02;
text-decoration:none;
}

.frep
{
padding:0px;
margin:0px;
border:0;
list-style-type:none;
}

.frep li
{
float:left;
text-align:center;
width:210px;
background:url(/site/frep.bg.gif) top center no-repeat;
padding-top:7px;
}

.frep 
{
margin-top:20px;
}
.frep img
{
display:block;
margin-bottom:17px;
}

.siteleft
{
float:left;
width:200px;
}

.siteright
{
width:640px;
float:left;
margin-left:20px;
}

.title
{
background:url(/site/title.png) bottom no-repeat;
text-align:left;
color: #ffffff;
font-size:14px;
text-align:center;
padding-bottom:5px;
clear:both;
font-weight:normal;

}
.title span {
  background: url(/site/grad2.png) repeat-x;
  position: absolute;
  display: block;
  width: 50%;
  height: 29px;
  
}




.m
{
list-style-type:none;
padding:0px;
margin:0px;
border:0;
}

.m label
{
color:#FF8300;
font-size:12px;
display:block;
float:left;
width:120px;
}

.permlink
{
background-color:#131313;
border:1px solid #333333;
color:#bbbbbb;
background-color:#131313;
height:14px;
padding-top:3px;
width:350px;
}

.m .text
{
background-color:#131313;
border:1px solid #333333;
color:#bbbbbb;
background-color:#131313;
height:14px;
padding-top:3px;
width:220px;
}

.m .stext
{
background-color:#131313;
border:1px solid #333333;
color:#bbbbbb;
background-color:#131313;
height:14px;
padding-top:3px;
width:130px;
}

.m .xstext
{
background-color:#131313;
border:1px solid #333333;
color:#bbbbbb;
background-color:#131313;
height:14px;
padding-top:3px;
width:20px;
}


.m .ltext
{
background-color:#131313;
border:1px solid #333333;
color:#bbbbbb;
background-color:#131313;
height:14px;
padding-top:3px;
display:block;
width:500px;
}

.m .file
{
background-color:#131313;
border:1px solid #333333;
color:#bbbbbb;
background-color:#131313;
height:20px;
padding-top:3px;
width:260px;
}
.m li
{
padding-top:5px;
padding-bottom:3px;
padding-left:5px;
}
.m select
{
border:1px solid #333333;
background-color:#131313;
color:#bbbbbb;
width:200px;
}

.

.m .on
{
background-color: #0D0D0D;
}


.l
{
padding:0px;
margin:0px;
border:0;
list-style-type:none;
}
.l li
{
margin-top:5px;
float:left;
font-size:14px;
color:#6799D4;
text-align:center;
}


.l li input
{
background-color:#131313;
color:#bbbbbb;
border:1px solid #333333;
}

.tab
{
padding:0px;
margin:0px;
border:0;
list-style-type:none;
clear:both;
}

.tab li
{
margin-top:5px;
float:left;
font-size:12px;
color:#6799D4;
text-align:center;
}

.whi
{
color:#FFFFFF;
}
.wh li
{
font-weight:normal;
color:#b6b6b6;
}
.tab li input
{
background-color:#131313;
color:#bbbbbb;
border:1px solid #333333;
}

.siteright .hr
{
height:1px;
border:0px;
background:url(/site/hr.jpg) no-repeat;
}

.siteright
{
color:#BBBBBB;
font-size:12px;
}

.siteright a
{
color:#01CAD1;
text-decoration:none;
}
.siteright a:hover
{
color:#83B9FF;
text-decoration:none;
}


/* HERO PAGE */
.hLeft
{
width:282px;
float:left;
padding-left:10px;
}

.hRight
{
width:490px;
float:left;
}

.hLeft .icon
{
margin-right:10px;
}
.hLeft h1
{
color:#FFC300;
font-size:18px;
font-weight:normal;
 font-family: "Myriad Pro", arial, sans-serif;
}

.hLeft .class
{
color:#c2c2c2;
font-size:12px;
margin-top:2px;
font-weight:normal;
font-family: "Myriad Pro", arial, sans-serif;
}
#dT
{
color:#FFC300;
font-size:15px;
font-weight:normal;
width:140px !important;
width:130px;
}
#dC
{
color:#82BDFF;
font-size:13px;
font-weight:normal;
width:140px !important;
width:130px;
}

.hLeft a
{
text-decoration:none;
}
.hLeft ul
{
padding:0px;
margin:0px;
border:0;
list-style-type:none;
margin-top:8px;
clear:both;

}

.hLeft li
{
float:left;
color:#ff9000;
width:60px;
text-align:center;
font-size:12px;
font-family: "Myriad Pro", arial, sans-serif;
}

.hLeft li span
{
font-size:11px;
font-family: "Myriad Pro", arial, sans-serif;
color:#FFFFFF;
}

.hLeft .character
{
position:relative !important;
margin-left:0px !important;
margin-top:0px !important;
top:-35px !important;
position:static;
top:0px;
margin-left:90px;
margin-top:-90px;
}


.hLeft .det
{
padding-left:52px;
margin-left:40px;
font-size:12px;

margin-bottom:10px;
color:#b9b9b9;
}

.hLeft h2
{
color:#83baff;
font-size:18px;
font-weight:normal;
font-family: "Myriad Pro", arial, sans-serif;
clear:both;
margin-bottom:4px;
}
.hLeft .skill
{
float:left;
margin-bottom:10px;
}



#dL
{
padding:0px;
margin:0px;
border:0;
list-style-type:none;
margin-top:8px;
clear:both;

}

#dL li
{
float:left;
color:#FFC300;
width:60px;
text-align:center;
font-size:12px;
font-family: "Myriad Pro", arial, sans-serif;
}

#dL li span
{
font-size:11px;
font-family: "Myriad Pro", arial, sans-serif;
color:#FFFFFF;
}

.as
{
margin:0px;
padding:0px;
list-style-type:none;
}
.sk li
{
margin-bottom:5px;
clear:both;
}

.sk
{
margin:0px;
padding:0px;
list-style-type:none;
font-size:14px
}
.sk img
{
margin-right:10px;
float:left;
width:52px;
height:52px;
}

.as li label
{
color:#81BAFF;
float:left;
display:block;
width:110px;
margin-left:8px;
}

.hRight
{
margin-left:30px;
}
.hRight .title
{
color:#82BDFF;
font-size:16px;
font-family: "Myriad Pro", arial, sans-serif;
margin-bottom:10px;
text-align:left;
}

.hRight .adv
{padding:0px;
margin:0px;
border:0;
list-style-type:none;
}
.hRight .adv li
{
float:left;
width: 190px;
font-size:12px;
margin-right:40px;
font-weight:normal;
font-family: "Myriad Pro", arial, sans-serif;
}

.hRight .adv li label
{
color:#ff9000;
display:block;
width:110px;
float:left;
}

.hRight .menuhero
{
margin:0px;
padding:0px;
list-style-type:none;
margin-top:70px;
background:url(/site/hbg.jpg) left bottom no-repeat;
padding-bottom:10px;
width:500px;
padding-left:4px;
margin-bottom:15px;
height:17px;
}

#iName
{
}

#iIcon
{
display:none;
float:left;
}

.textlong
{
width:500px;
background-color:#131313;
color:#bbbbbb;
height:100px;
border:1px solid #333333;
}

.stextarea
{
width:300px;
background-color:#131313;
color:#bbbbbb;
height:70px;
border:1px solid #333333;
}

.textareaite
{
width:500px;
background-color:#131313;
color:#bbbbbb;
height:100px;
border:1px solid #333333;
}


.hRight .menuhero li
{
float:left;
color:#6d6d6d;
margin-right:29px;
font-size:15px;
}

.hRight .menuhero li a
{
color:#83baff;
text-decoration:none;
}


.hRight div #comnav
{
display:inline;
}


.hRight .menuhero .on,.hRight .menuhero .on a
{ 
color:#ff9000;
text-decoration:none;
}

.hRight p
{
color:#b9b9b9;
text-align:justify;
font-size:12px;
margin-bottom:20px;
font-weight:normal;
}

.skills
{
padding-left:10px;
}
.skills blockquote
{
}

.skills h1
{
color:#64a8e5;
font-size:17px;
clear:both;
font-weight:normal;
}

.skills .nfo
{
margin-top:5px;
margin-left:20px;
float:left;
}
.skills ul
{
padding:0px;
margin:0px;
border:0;
list-style-type:none;
}

.skills .nfo li label
{
color:#64a8e5;
float:left;
display:block;
font-weight:normal;
width:100px;
font-family: "Myriad Pro", arial, sans-serif;

}

.skills .nfo li
{
font-size:12px;
font-weight:normal;
}

.skills .notes h2
{
font-family: "Myriad Pro", arial, sans-serif;
color:#64a8e5;
font-size:15px;
font-weight:normal;
color: #ff9000;
margin-bottom:2px;
}

.skills .notes
{
margin-top:50px;
clear:both;

}

.skills .notes p
{
color: #b6b6b6;
font-size:12px;
margin-left:20px;
}

.skills .desc
{
margin-top:5px;
font-size:12px;
color:#BDBDBD;
margin-left:40px;
padding-left:240px;
padding-right:50px;
}

.ileft
{
float:left;
width:630px;
background:url(/site/ibg.jpg) right center repeat-y;
}

.hdleft
{
float:left;
width:630px !important;
width:625px;
background:url(/site/ibg.jpg) right center repeat-y;
}

.iright
{
float:left;
width:200px;
padding-left:5px;
}
.iright a:link,.iright a:visited, .iright a:active
{
text-decoration:none;
color:#0182D3;
font-size:12px;
}
.iright a:hover
{
text-decoration:underline;
color:#0182D3;
font-size:12px;
}

.cat
{
margin-top:20px;
width:184px;
float:left;
margin-left:20px;
margin-bottom:20px;
}

.headitem span
{
color:#FFFFFF;
font-size:14px;
font-weight:bold;
}

.headitem
{
float:left;width:130px;margin-top:10px;
}

.or, .or a
{
color:#FF9000;
text-decoration:none;
}

.or a:hover
{
text-decoration:underline;
}

.green a, .green
{color:#ff9000;
text-decoration:none;
}
.green a:hover
{
text-decoration:underline;
}

.gr
{
color:#898989;
}

.bonus
{
background:url(/site/bonus.jpg) top left no-repeat;
padding-top:35px;
font-size:12px;
padding-left:17px;
}

.usedin
{
margin-top:10px;
background:url(/site/usedin.jpg) top left no-repeat;
padding-top:35px;
font-size:12px;
padding-left:17px;
}
.recipe
{
margin-top:10px;
background:url(/site/recipe.jpg) top left no-repeat;
padding-top:35px;
font-size:12px;
padding-left:17px;
}

.addinfo
{
margin-top:10px;
background:url(/site/addinfo.jpg) top left no-repeat;
padding-top:35px;
font-weight:normal;
font-size:12px;
padding-left:17px;
color:#898989;
}

.addinfo ul
{
margin-top:3px;
margin-left:15px;
padding:0px;
}

.usedin span, .recipe span
{
color:#83B9FF;
}

.usedin img, .recipe img
{
margin-top:2px;
margin-right:9px;
}

.bl
{
color:#83B9FF;
font-weight:normal;
}
.cat ul
{
list-style-type:none;
margin:0px;
padding:0px;
}
.cat li
{
float:left;
width:38px;
height:38px;
padding:4px;
}
.cat .on
{
background:url(/site/fx2.jpg) center center no-repeat;
}

.cat .ons
{
background:url(/site/fx3.jpg) center center no-repeat;
}


.gtext
{
color:#919390;
margin-top:30px;
margin-bottom:30px;
padding:30px;
padding-top:0px;
font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}

.gtext a
{
text-decoration:none;
}

.viewall a
{
color: #87D77E;
font-family: "Myriad Pro", arial, sans-serif;

}
.viewall
{
text-align:right;
margin-bottom:20px;
margin-right:30px;
}

/* The hint to Hide and Show */
.hint {
   	display: none;
    position: absolute;
    right: -250px;
    width: 270px;
    margin-top: -4px;
    border: 1px solid #c93;
    padding: 10px 12px;
    font-size:11px;
    background: #ffc url(pointer.gif) no-repeat -10px 5px;
}





/* GUIDES */
.spotGuides
{
margin-top:20px;
padding:0px;
margin:0px;
border:0;
list-style-type:none;
}

.spotGuides li
{
float:left;
text-align:center;
width:180px;
font-family: "Myriad Pro", arial, sans-serif;
padding-left:10px;
padding-right:10px;
margin-bottom:30px;
}

.spotGuides .nobg
{
background:none;
}

.spotGuides li img
{
margin:9px;
}
.spotGuides li h2
{
width:150px;
font-size:12px;
font-weight:normal;
color:#898989;
}

.spotGuides li h3
{
font-size:12px;
font-weight:normal;
color:#83B9FF;
width:150px;
}
.spotGuides a
{
text-decoration:none;
}
.spotGuides li h1
{
width:auto;
background:none;
font-family: "Myriad Pro", arial, sans-serif;
font-weight:normal;
font-size:14px;
}

.gList
{
font-family: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
font-size:10px;
margin-bottom:20px;
margin-top:20px;
background:#090909;
border:1px solid #1A1A1A;
}
.gList a
{
text-decoration:none;
}
.gList thead
{
text-align:left;
color:#EF951B;
font-weight:normal;
background:#021118;
font-size:10px;

}

.gList thead th
{
padding-left:5px;
border-bottom:1px solid #1A1A1A;
padding-top:10px;
padding-bottom:6px;
}

.gList td a,.spotGuides a
{
}

.gList td
{
padding-left:5px;
text-align:left;
}

.gdetails
{
width:670px;
margin-top:30px;
padding:0px;
margin:0px;
border:0;
list-style-type:none;
}

.gdetails li
{
float:left;
margin-right:30px;	
color:#f5f5f5;
}

.gdetails li h2
{
width:150px;
font-size:12px;
font-weight:normal;
color:#898989;
margin:0px;
}

.gdetails li h3
{
font-size:12px;
color:#83B9FF;
width:150px;
}

.gdetails li h1
{
width:auto;
background:none;
font-family: "Myriad Pro", arial, sans-serif;
font-weight:normal;
font-size:15px;
text-align:left;
margin:0px;
padding:0px;
}

/* The pointer image is hadded by using another span */
.hint-pointer {
    position: absolute;
    display:none;
    z-index:99;
}

.alert {
	background: #0d0d0d url(/site/exclamation.png) 15px center no-repeat;
	text-align: left;
	padding: 5px 20px 5px 45px;
	border-top: 2px solid #FBBB04;
	border-bottom: 2px solid #FBBB04;
	font-size:12px;
	color:#FBBB04;
	margin-bottom:14px;
	font-weight:normal;
	width:80%;
}

.info {
	background: #0d0d0d url(/site/info.png) 15px center no-repeat;
	text-align: left;
	padding: 10px 20px 10px 55px;
	border-top: 2px solid #6BDD01;
	border-bottom: 2px solid #6BDD01;
	width:85%;
	font-size:12px;
	margin-bottom:14px;
	color:#FBBB04;
	font-weight:bold;
}

.dnone { display:none; }

.herolist
{

width:180px;
float:left;
margin-right:17px !important;
margin-right:23px;
margin-bottom:30px;
}
.herolist .on
{
background:url(/site/fx.jpg	) top center no-repeat;
}
.heroc
{
margin-left:18px;
margin-right:12px;
}
.herolist ul
{
padding:0px;
margin:0px;
border:0;
list-style-type:none;
margin:0px;
padding:0px;
}

.herolist ul li
{
float:left;
padding:4px;
width:37px;
height:37px;
}




/* IMAGES */
.sfa
{
list-style-type:none;
margin:0px;
padding:0px;
margin-top:15px;
margin-left:5px;
}

.sfa h1
{
font-size:15px;
font-weight:normal;
color:#96B6DF;
}

.sfa li
{
background:url(/site/artwork/spotbg.jpg) center top no-repeat;
margin-left:10px;
margin-right:10px;
text-align:center;
float:left;
padding:5px;
}
.sfa li img
{
margin-bottom:5px;
}

.pics
{
list-style-type:none;
margin:0px;
padding:0px;
margin-top:15px;
border:0px;
margin-left:10px;
width:600px;
}

.pics h1
{
font-size:12px;
font-weight:normal;
color:#96B6DF;
}

.pics li
{
margin-right:10px;
text-align:center;
float:left;
padding:5px;
margin-bottom:15px;
}

.pics .s
{
background:url(/site/artwork/sbg.jpg) center top no-repeat;
width:125px;
float:left;
margin:0px;
padding:0px;
margin-left:5px;
margin-right:5px;	
margin-bottom:20px;
height:140px !important;
height:160px;
padding-top:4px;
}

.pics .s img
{
width:100px;
height:77px;
}

.pics .b
{
background:url(/site/artwork/sbg.jpg) center top no-repeat;
width:220px;
padding:10px;
}


.pics li img
{
margin-bottom:5px;
border:0px;
}

.addcom textarea
{
color:#cccccc;
font-size:12px;
background-color:#080808;
border:1px solid #1a1a1a;
overflow: auto;
width:190px;
height:16px;
}



.addcom
{
margin:0px;
padding:0px;
}
.addcom .post
{
text-align:right;
display:block;
}

.com a
{
text-decoration:none;
}

.addcom  input
{

margin-right:7px;
margin-top:2px;
}
.com
{
font-family: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
z-index:120;
font-size:11px;
}
.com img
{
display:block;
margin-bottom:10px;

}
.com ul
{
display:block;
margin:0px;
padding:0px;
list-style-type:none;
width:190px;
}

.com ul li .gr
{
display:block;
}
.com ul li
{
margin-bottom:10px;
}

.com ul li .blw, .com ul li .or
{
font-size:9px;
}


.navigation
{
list-style-type:none;
clear:both;
color:#A4AFCD;
}

.navigation li
{
display:inline;
padding:2px;
margin-right:5px;
}


.pleft
{
width:600px;
float:left;
color:#cccccc;
font-size:12px;
font-family: Arial, Helvetica, sans-serif;
}

.pright,.cright
{
float:right;
margin-right:20px;
margin-left:10px;
width:200px;
}

.pright h2
{
color:#FF9000;
font-size:14px;
font-weight:normal;
margin-left:10px;
}
.cright a {text-decoration:none;}

.cright ul
{
list-style-type:none;
margin:0px;
padding:0px;
margin-top:4px;
margin-bottom:4px;
margin-left:75px;
}

.pright ul
{
list-style-type:none;
margin:0px;
padding:0px;
margin-top:4px;
margin-bottom:4px;
margin-left:20px;
}
.pright a
{
color:#ffffff;
text-decoration:none;
}

.pright .on a
{
color:#0182D3;
}

.pright a:hover
{
color:#0182D3;
}

.jsnavi
{
width:210px;
font-size:13px;
color:#898989;
margin-top:-10px;

}

.jsnavi img
{
margin-right:5px;
margin-top:-3px;
margin-left:5px;
}

.jsnavi a
{
color:#898989;
text-decoration:none;
}

.jsnavi .on:link,.jsnavi .on:active,.jsnavi .on:hover, .jsnavi .on:visited
{
color:#FF9000;
}

.jsnav .orlink:link,.jsnav .orlink:active,.jsnav .orlink:hover, .jsnav .orlink:visited
{
color:#FF9000;
}


.events
{
background:#090909;
border:1px solid #1A1A1A;
margin:10px;
padding:0px;
list-style-type:none;
}

.events .on
{
background-color:#171717;
}
.events li
{
padding:10px;
font-size:13px;
}

.events li h1
{
color:#0182D3;
font-size:14px;
font-weight:normal;
float:left;
margin-right:10px;
}

.browseall a
{
text-decoration:none;
}

.browseall
{
margin-top:-15px;
margin-right:10px;
font-size:14px;
margin-bottom:20px;
}

.events a
{
text-decoration:none;
}

.fas {
font-family: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
font-size:11px;
width:200px;
margin-bottom:20px;
}
.fas .bl
{
font-weight:bold;
}
.fas h1
{
margin:3px;
text-align:center;
font-size:13px;
}
.fas div
{
margin-top:3px;
margin-left:20px;
}

#imagedetails
{
position:relative;
z-index:1000;
background:#000000;
top:-15px;
}

#rate
{
color:#84B9FF;
font-size:12px;
background:#181818;
border:1px solid #84B9FF;
z-index:1001;
display:inline;
}

.pics .v
{
width:135px;
background:url(/site/videothumb.gif) top left no-repeat;
padding-top:11px;
margin:0px;
text-align:center;
margin-left:1px;
height:190px;
}

.pics .v img
{
display:block;
margin-bottom:25px;
width:130px;
height:97px;
}

.guidedetails
{
padding-left:16px;
margin-top:24px;
font-family: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
font-size:11px;
font-weight:bold;
}
.guidedetails h1, .guidedetails h2
{
display:block;
margin:0px;
padding:0px;
font-family: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
font-size:13px;
font-weight:bold;
}

.guidedetails h2
{
margin-bottom:5px;
margin-top:5px;
color: #898989;
font-size:12px;
width:150px;
}

.guidedetails h1
{
margin-bottom:5px;
margin-top:5px;
}
.guidedetails img
{
margin-right:10px;
}

#comnav
{
width:210px;
padding:0px;
margin:0px;
margin-left:-20px;
}


.sortby a
{
font-family: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
text-decoration:none;
color: #8B8A86;
margin-right:5px;
font-weight:bold;
margin-left:5px;
}

.sortby .on
{
color:#FF9000;
font-weight:bold;
}

.sortby 
{
margin:10px;
}

.gList thead th a
{
color:#EF951B;
}

.gList thead th a img
{
display:none;
}


.vf
{
list-style-type:none;
}

.vf li
{
text-align:left;
height:23px;
background:url(/site/check.gif) left top no-repeat;
padding-left:30px;
padding-top:1px;
}

.vf li a
{
font-weight:bold;
text-decoration:none;
}

.vf .on
{
background:url(/site/checkon.gif) left top no-repeat;
}


.pagedefaultcss
{
margin-left:20px;
margin-right:15px;
}

.vbmenu_popup .thead
{
background:url(/site/grad.gif);
color:#CCCCCC;
font-weight:bold;
font-size:11px;
}

.vbmenu_popup td
{
text-align:left;
}

.vbmenu_popup
{
	background: #DDDDDD;
	color: #000000;
	border: 1px solid #0B198C;
	position:absolute;
	z-index:1000;
}
.vbmenu_option
{
	background: #BBBBBB;
	color: #000000;
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	white-space: nowrap;
	cursor: pointer;
}
.vbmenu_option a:link, .vbmenu_option_alink
{
	color: #000000;
	text-decoration: none;
}
.vbmenu_option a:visited, .vbmenu_option_avisited
{
	color: #000000;
	text-decoration: none;
}
.vbmenu_option a:hover, .vbmenu_option a:active, .vbmenu_option_ahover
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_hilite
{
	background: #EEEEEE;
	color: #666666;
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	white-space: nowrap;
	cursor: pointer;
	border-bottom: 1px solid #F6EE13;
}
.vbmenu_hilite a:link, .vbmenu_hilite_alink
{
	color: #991C00;
	text-decoration: none;
}
.vbmenu_hilite a:visited, .vbmenu_hilite_avisited
{
	color: #991C00;
	text-decoration: none;
}
.vbmenu_hilite a:hover, .vbmenu_hilite a:active, .vbmenu_hilite_ahover
{
	color: #991C00;
	text-decoration: none;
}
.vbmenu_control
{
	background: #1a1a1a;
	color: #FFFFFF;
	font: bold 8pt tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	padding-left: 3px;
	padding-right: 3px;
	white-space: nowrap;
}
.vbmenu_control a:link, .vbmenu_control_alink
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_control a:visited, .vbmenu_control_avisited
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_control a:hover, .vbmenu_control a:active, .vbmenu_control_ahover
{
	color: #EEEEEE;
	text-decoration: underline;
}
.vbmenu_outer { float: right; margin: 0; }
.vbmenu_outer .spacer { height: 26px; width: 1px; display: inline; vertical-align: middle; }
.tcat_vbmenu { height: 35px; line-height: 26px; float: left; padding-left: 4px; padding-right: 4px; }



#lbcont
{
border:0px solid #FFFFFF;
width:670px;
position:relative;
z-index:150;
left:-80px;
}

.herofilter
{
color:#0182D3;
font-size:12px;
margin-top:8px;
background-color:#080808;
border: 1px solid#83B9FF;
}


.changelogs
{
color:#919390;
font-size:13px;
}

.changelogs a
{
color:#64A8E5;
text-decoration:none;
}
#thelist a
{
text-decoration:none;
}
.inlineimg { vertical-align: middle; }

#notifications_menu
{
position:absolute;
}

.groupTable table
{
border:0px !important;
padding:0px !important;
background:url(/competition/toptable.png) no-repeat !important;
width:254px;
}
.groupTable thead td
{
padding-bottom:3px;
padding-top:3px;
font-size:12px;
}

.groupTable tbody td
{
padding-bottom:3px;
padding-top:3px;
font-size:11px;
color:#fff;
padding-left:9px;
padding-right:9px;
background:none;
height:13px;
}
.groupTable thead td
{
padding-left:9px;
padding-right:9px;
padding-top:5px;
background:none !important;
}
.groupTable tfoot td
{
background:none !important;
padding:0;
border:0;
}

.bracket
{
border:0px !important;
padding:0px !important;
background:none !important;;
}
.bracket td
{
border:0px !important;
padding:0px !important;
background:none !important;;
}
.bracket .noscore
{
background:url(/site/bracket.png) no-repeat;
width:136px;
height:52px;
}
.bracket .windown
{
background:url(/site/bracket.png) left -106px no-repeat;
}
.bracket .winup
{
background:url(/site/bracket.png) left -53px no-repeat;
}
.bracket .noscore .team
{
display:block;
padding-top:5px;
padding-left:15px;
font-size:11px;
color:#fff;
float:left;
width:105px;
font-weight:bold;
}
.bracket .noscore .score
{
color:#fff;
font-weight:bold;
padding-top:4px;
display:block;
float:left;
width:15px;
}

.jointline
{
background:url(/site/joint.gif) no-repeat left center;
width:11px;
}

.bracketContainer
{
width:580px;
overflow:auto;
white-space:nowrap;
height:100%;
scrollbar-base-color:#222222;
overflow-y: hidden;
-ms-overflow-y: hidden;
padding-bottom:30px;
}

.regs
{
float:left;
width:106px;
height:30px;
}
.regs a
{
text-decoration:none;
}
.regi
{
text-align:right;
}
.regi a
{
text-decoration:none;
display:block;
color:#FF8F02;
padding-right:38px;
}

.sdm
{
border:1px solid #ccc;background:#000;padding:5px;position:absolute;z-index:5;top:5px;left:10px;opacity:0.8;filter:alpha(opacity=80);width:225px;
}
.tooltiphover {
	border-bottom: 1px dashed #fff;
	text-decoration: none;
	cursor:help;
}
 
.tooltiphover:hover {
	position: relative;
         border-bottom: 1px dashed #fff;
}
 
.tooltiphover span {
	display: none;
}
.tooltiphover:hover span {
	display: block;
   	position: absolute;left:0px;top:10px;
   	padding: 5px; margin: 10px;
   	background: #f0f0f0; border: 1px dotted #c0c0c0;
         opacity:0.9;   
         filter:alpha(opacity=90);   
         -moz-opacity:0.9;   
         color:#fff;
         background:#111;
         width:220px;
         float:left;
}
	
