.heros_l{ float:left; width:715px; margin-right:5px;}
	.hero_info{ border:1px dotted #E0E0E0; padding:3px; background-color:#585858; overflow:hidden; height:100%; color:#F8F8F8;}
	.hero_ico { float:left; margin-right:5px;}
	.hero_txt{ line-height:20px;}
	.hero_txt h2{ font-size:14px; line-height:24px;}
	.hero_txt h2 span{ color:red;}
	.hero_txt p,.H_SkillIntro{}
	.hero_Data{ background:url(../09images/bg_data.gif) no-repeat; height:78px; margin:8px 0; clear:both;}
	.hero_Data ul{ float:left;}
	.Grade_ul{ width:125px; height:78px;}
		.Grade_txt{ width:100%; text-align:center; color:#B34692; font-weight:bold; line-height:22px; margin-top:2px;}
		.Grade_on{ background:url(../09images/bg_data_onun.gif) no-repeat -75px -9px; width:32px; height:24px; float:left; margin:9px 0 0 0; cursor:pointer;}
		.Grade_Digital{font:24px Tahoma, Arial, verdana, sans-serif, "宋体", "新宋体";background:url(../09images/bg_data_onun.gif) no-repeat -32px 0px; width:43px; height:43px; text-align:center; font-weight:bold; line-height:43px; color:#3E5072; float:left;}
		.Grade_un{ background:url(../09images/bg_data_onun.gif) no-repeat 0px -9px; width:32px; height:24px; float:left; margin:9px 0 0 8px; cursor:pointer; display:inline;}
		.Grade_on a,.Grade_un a{ display:block; widows:32px; height:24px;}
	.hpmp_ul{ width:185px; height:78px; text-align:center;}
	.hpmp_ul li{ margin:8px auto;}
		.hp,.mp{ background:url(../09images/bg_hpmp.gif) no-repeat; height:14px; line-height:14px; font-size:11px; width:158px;}
		.hp{ color:#3B2100;}
		.mp{ background:url(../09images/bg_hpmp.gif) no-repeat 0 -20px; color:#225500;}
		.tp{ text-align:center; color:#703500;}
	.Properties_ul{ background:url(../09images/bg_datato.gif) no-repeat center center; height:68px; padding-top:8px; width:235px; margin-left:10px;}
	.Properties_ul li{ width:100px; padding-left:16px; line-height:18px; height:18px; overflow:hidden; float:left; color:#3B3B3B;}
	.Properties_ul li em{ font-size:11px;  font-style:normal;}
	.Properties_ul .Features{ color:#E60000; background:url(../09images/bg_heroico.gif) no-repeat 6px 6px;}
	.in_ul{ background:url(../09images/bg_stars.gif) no-repeat; width:111px; padding-top:5px; height:160px; position: absolute; margin:-90px 0 0 565px; overflow:hidden;}
	.in_ul li{ padding-left:10px; height:30px; overflow:hidden; color:#000;}
	.in_ul li em{ display:block; background:url(../09images/ico_Stars.gif) no-repeat 0px 0px; height:10px; width:66px; margin-top:3px;}
	.in_ul .Stars_10{ background-position:-738px 0px;}
	.in_ul .Stars_9{ background-position:-655px 0px;}
	.in_ul .Stars_8{ background-position:-573px 0px;}
	.in_ul .Stars_7{ background-position:-491px 0px;}
	.in_ul .Stars_6{ background-position:-409px 0px;}
	.in_ul .Stars_5{ background-position:-327px 0px;}
	.in_ul .Stars_4{ background-position:-245px 0px;}
	.in_ul .Stars_3{ background-position:-163px 0px;}
	.in_ul .Stars_2{ background-position:-81px 0px;}
	.in_ul .Stars_1{ background-position:0px 0px;}
	.menu{ border-bottom:2px solid #E0E0E0; overflow:hidden; height:100%;}
	.menu li{ background:url(../09images/bg_hero.gif) repeat 0 -94px; height:26px; line-height:26px; overflow:hidden; margin:0 3px; cursor:pointer; text-align:center; float:left; width:180px;}
	.menu_l{ width:10px; height:26px; display:block; float:left; background:url(../09images/bg_hero.gif) repeat 0px 0px;}
	.menu_r{ width:10px; height:26px; display:block; float:right; background:url(../09images/bg_hero.gif) repeat 0px -26px;}
	.menu li strong{ color:#72848C;}
	.menu .menu_hover strong{color:#003461;}
	.Routine{ padding:3px 0px;}
	.Routine dl{ border:1px dotted #ccc;}
	.Routine dd{ background-color:#F7F7F7; line-height:20px;}
	.Routine strong{ border-bottom:2px dotted #E0E0E0; line-height:24px; display:block; margin:8px 0; font-size:14px; padding-left:18px; background:url(http://dota.replays.net/09images/bg_main.gif) no-repeat -985px -45px;}
	.routine_title{ line-height:22px; font-weight:bold; color:#C72D04; background-color:#F1ECDB; padding:3px; font-size:14px;}
	.routine_img { padding:5px 10px;}
	.routine_img img{ margin:3px;}
	.routine_txt{ color:#575757; padding:5px 13px;}
	.Skills_ul{ overflow:hidden; height:100%; margin:5px 0px;}
	.H_Skill{ clear:both; margin-bottom:5px; border-bottom:2px dotted #acacac; overflow:hidden; height:100%; padding-bottom:5px; line-height:22px;}
	.FL{ float:left;}
	.H_SkillDetail{ width:610px; margin-left:5px;}
	.H_SkillName{ font-size:14px; font-weight:bold; color:#637BA0; border-bottom:1px solid #cfcfcf; line-height:24px; background:url(http://dota.replays.net/09images/bg_main.gif) no-repeat -985px -45px; padding-left:18px;}
	.stxt2{ color:red;}
	.stxt1{ color:#FF6600;}
	.H_SkillAdd{ border:1px dotted #ccc; background-color:#f2f2f2; padding:3px;}
	.H_SkillIntro{padding:3px 0; color:#333;}
	.H_SkillLevel{ padding:3px 0;}
.heros_r{ float:right; width:280px;}
	.img_raiders{ text-align:center; padding:5px;}
	.img_rep{ text-align:center; margin-bottom:5px;}
	.right_box .video_dl{ margin:5px; margin-right:0px; width:260px; display:inline;}
	.right_box .Video_txt{ width:155px; line-height:19px;}
	.right_box .Video_title{ width:150px; height:auto; line-height:20px;}
/*******items*********/
.items_dl { float:left; width:311px; height:250px; border:1px solid #B2B2B2; margin:5px;}
.items_dl dt{ font-size:14px; font-weight:bold; background:url(../09images/bg_Search.gif) repeat-x; line-height:26px; height:26px; padding-left:4px;}
.item_txt{ overflow:hidden; height:100%; padding:0 7px 0 5px;}
.item_txt a:link,.item_txt a:visited{text-decoration: underline;}
*html .item_txt { padding:0 2px 0 10px;}
.item_txt img{ float:left;}
.item_txt h4{ border:1px solid #FF9900; background-color:#FFFCF7; line-height:55px; padding:3px; color:#FF7900; font-size:12px; }
.items_dl dd{ float:left; margin:5px; cursor:help;}

.hero_dl { float:left; width:217px; padding:5px 0 5px 13px; border:1px solid #B2B2B2; margin:5px; overflow:hidden; height:100%;}
.hero_dl dt{ height:38px; line-height:16px; padding-top:10px; padding-left:55px; font-weight:bold; font-size:14px;}
.hero_dl dd{ float:left; margin:3px; cursor:help; display:inline;}
.hero_dl dd em{ display:block; width:20px; height:12px; font-size:11px; background-color:#660099; margin:3px 0 0 3px; font-style:normal; font-weight:bold; color:#fff; float:left; position: absolute; text-align:center; cursor:pointer; filter:alpha(opacity=80); -moz-opacity:0.80;}
.hero_dl dd img{ width:45px;}
.hero_dl em{ display:block; font-style:normal; font-weight:normal; font-size:11px;}
.left_box_to .hero_60 { width:241px; margin:5px 15px;}
.hero_60 dd{ margin:6px;}
.hero_title_str{ background:url(../09images/hero_60.gif) no-repeat; color:#700D0A;}
.hero_title_agi{ background:url(../09images/hero_60.gif) no-repeat 0px -50px; color:#435725;}
.hero_title_int{ background:url(../09images/hero_60.gif) no-repeat 0px -101px; color:#193462;}
.hero_60_div{ padding:5px 0 0 45px;}
.hero_title{ background:url(../09images/hero_title.gif) no-repeat -3px top;}
.hero_dl dt span{ font-weight:normal; padding:0 5px; font-size:12px; color:red;}
.hero_dl .item_title_1{ background:url(../09images/hero_title.gif) no-repeat left -53px; padding-top:13px}
.hero_dl .item_title_2{ background:url(../09images/hero_title.gif) no-repeat left -108px; padding-top:13px}
.hero_dl .item_title_3{ background:url(../09images/hero_title.gif) no-repeat left -164px; padding-top:13px }
.hero_dl .item_title_4{ background:url(../09images/hero_title.gif) no-repeat left -219px; padding-top:13px }
.hero_dl .item_title_5{ background:url(../09images/hero_title.gif) no-repeat left -279px; padding-top:13px }
.hero_dl .item_title_6{ background:url(../09images/hero_title.gif) no-repeat left -334px; padding-top:13px }
.hero_dl .item_title_7{ background:url(../09images/hero_title.gif) no-repeat left -391px; padding-top:13px }
.hero_dl .item_title_8{ background:url(../09images/hero_title.gif) no-repeat left -449px; padding-top:13px }
.hero_dl .item_title_9{ background:url(../09images/hero_title.gif) no-repeat left -507px; padding-top:13px }
.hero_dl .item_title_10{ background:url(../09images/hero_title.gif) no-repeat left -565px; padding-top:13px }

/***********************/
.item_box{ border:2px solid #8A8A8A; padding:5px; width:300px; height:100%; overflow:hidden; background:url(http://dota.replays.net/images/bg_texture_1.gif); filter:alpha(opacity=85); -moz-opacity:0.85;}
.item_box_title{ font-weight:bold; color:#19FF19; line-height:22px;}
.item_box_title em{ float:right; color:#FFC619; font-style:normal;}
.item_box_Desc{ color:#fff;}
.item_box_Need{ color:#fff;}
.item_box_Need strong{ display:block; color:#19FF19; line-height:22px;}
.item_box_Need em span{ float:right; color:#FFC619;}
.item_box_Need em{ display:block; font-style:normal;}
.item_box_Need em img{ width:18px;}
.hero_box .H_SkillIntro{ color:#fff;}
.hero_box .H_SkillAdd{ color:#25322C;}
/********Tutorial***************/
.tutorial_hero{ overflow:hidden; height:100%;}
	.tutorial_hero ul{ float:left; width:97px; padding-top:5px; overflow:hidden;}
	.tutorial_hero li{ text-align:center; height:40px; line-height:38px; font-size:14px; color:#69875B; width:97px; margin-bottom:3px; cursor:pointer;}
	.tutorial_hero .txt_3{ background:url(../09images/bg_t_nav.gif) no-repeat 0 -40px;}
	.tutorial_hero .txt_3_1{ background:url(../09images/bg_t_nav.gif) no-repeat; font-weight:bold; color:#31740D; margin-left:1px;}
	*html .tutorial_hero .txt_3_1{ margin-left:0px;}
	.tutorial_hero_div{ float:right; border:1px solid #A9A9A9; width:871px; overflow:hidden; height:100%; padding:5px 0;}
	.tutorial_hero_div .hero_dl{ border:1px solid #D3D3D3; padding:0px; width:205px; overflow:hidden; margin:0 5px; height:153px; display:inline;}
.tutorial_tut{ overflow:hidden; height:100%; padding-left:97px; background:url(../09images/bg_t.jpg) no-repeat left bottom;}
	.tutorial_tut_l{ width:433px;}
	.tutorial_tut_r{ float:right; width:433px;}
	.tutorial_tut_l .box,.tutorial_tut_r .box{  background-color:#fff; filter:alpha(opacity=80); -moz-opacity:0.80;}
	.tutorial_tut_r{ float:right;}
	.tut_box li{ width:94px; overflow:hidden;}
	.dotahtml li{ width:420px; clear:both;}
.Top_heros{ float:left; width:215px; border:1px solid #E0E1DE; height:153px; overflow:hidden; color:#B60A09;}
.Top_heros dt{ padding:0px; margin:0px; font-size:14px; font-weight:bold; text-align:center; height:50px; line-height:50px;background:url(http://w3g.replays.net/skins/default/rs_bodybg.gif) no-repeat -5px bottom;}
/********Book***************/
.leftpart {width:671px;margin:0 0 10px 5px;clear:both;}
.leftpart .parttop {background-image:url(http://w3g.replays.net/skins/default/leftpart_t.gif);height:12px;font-size:0px;}
.leftpart .partbody {padding:0px 10px;border-left:solid 1px #DEDFDE;border-right:solid 1px #DEDFDE;}
.leftpart .partbot {clear:both;background-image:url(http://w3g.replays.net/skins/default/leftpart_b.gif);height:12px;font-size:0px;}
.rightpart .partbody {padding:0px 10px;border:solid 1px #DEDFDE;border-top-width:0px;border-bottom-width:0px;background-color:#ffffff;}
.cparttop {background-image:url(http://w3g.replays.net/skins/default/cheadbg.png) !important;background-image:none;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='http://w3g.replays.net/skins/default/cheadbg.png');height:48px;font-size:0px;background-repeat:no-repeat;margin-bottom:-40px;}
.cusername {margin-top:-5px;font-weight:bold;border-bottom:solid 1px #cccccc;padding-bottom:5px; }
.ccontent {margin:5px 0px;word-wrap:break-word;overflow:hidden;}
.cladder {margin-bottom:-18px;color:#DD7800;}
.caddtime {text-align:right;color:#999999;font-size:10px;}
#userlogin { text-align:right;margin:-20px 10px 0px 0px;}
.commenttxt {width:670px;font-family:"Verdana","宋体";font-size:12px;margin:5px 0px; overflow:auto; padding:2px; background:url(http://dota.replays.net/09images/bg_text.gif) no-repeat center center;}
.imgbtn {background-image:url(http://w3g.replays.net/skins/default/btnbg.gif);background-repeat:repeat-x;font-size: 12px;color:#333333;font-weight:bold;cursor:pointer;border:solid 1px #999999;padding:4px;width:104px;margin:2px 0px;}
.guest_id{ background:url(http://w3g.replays.net/skins/default/rs_bodybg.gif) no-repeat -10px -10px; height:22px; padding:5px 0 0 2px; width:200px; border:1px solid #CBCBCB; margin-top:10px; font-size:14px; color:#4D4D4D; font-weight:bold;}
.commento {margin:-5px 0px 0px 0px;font-size:10px;text-align:right;float:right;font-weight:bold;}
.commento img {border:0px;cursor:pointer;}
.commento li {float:left;list-style-type:none;}
/**********topboox************/
.topboox {width:280px;margin:0 0 10px 0px;clear:both;}
.topboox .parttop {background-image:url(../09images/dota_leftpart_t.gif);height:12px;font-size:0px;}
.topboox .partbody {padding:0px 10px;border:solid 1px #DEDFDE;border-top-width:0px;border-bottom-width:0px;}
.topboox .partbot {clear:both;background-image:url(../09images/dota_leftpart_b.gif);height:12px;font-size:0px;}
.topboox .cparttop {background-image:url(../09images/dota_cheadbg.png) !important;background-image:none;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='file:///F:/www.replays.net/dota.replays.net/09images/dota_cheadbg.png');height:48px;font-size:0px;background-repeat:no-repeat;margin-bottom:-40px;}
.yes_book{ border:1px solid #5D830A; clear:both; padding:5px; margin:8px 0; color:#5D830A; background:url(http://bbs.replays.net/templates/Replays/images/check_right.gif) no-repeat 5px 6px #F7FFE3; padding-left:22px; margin-right:13px;}
.no_book{ border:1px solid #D15252; clear:both; padding:5px; margin:8px 0; color:#D15252; font-weight:bold; background:url(http://bbs.replays.net/templates/Replays/images/check_error.gif) no-repeat 5px 6px #FFF5F5; padding-left:22px; margin-right:13px;}
.ctrl_book{ font-style:normal; padding:0 5px; font-weight:bold; color:#C92121;}
.Page_book{ clear:both; text-align:right; padding-right:15px;}
.Page_n{ padding:2px 6px; border:1px solid #ccc; background-color:#f8f8f8; margin:0 3px;}
.Page_y{ padding:2px 6px; border:1px solid #FFCE5A; background-color:#FFFFDD; margin:0 3px; font-weight:bold;}