
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,img,form,fieldset,input,textarea,p,th,td{margin:0;padding:0;}
body{ font:12px Tahoma, Arial, verdana, sans-serif, "宋体", "新宋体"; color:#2E2E2E; background-color:#ECE1BA;}
ul,li{ list-style-type: none; }
img{ vertical-align: top; border:none;}
a:link, a:visited { text-decoration: none; color: #2E2E2E; }
a:hover, a:active { text-decoration: underline;}
input{ font:12px Tahoma, Arial, verdana, sans-serif, "宋体", "新宋体";}
hr {height:1px;color:#999999;border-width:0px;background-color:#999999; margin:5px 0;}
.body{ background-color:#fff; width:1000px; margin:0 auto; overflow:hidden; height:100%; padding:0px 1px 0px 2px;}
.bottom_5{ margin-bottom:5px;}
.banner{ padding-top:4px;}
/*********************RNtop**************************/
.rn_100{ width:100%; background-color:#eee; border-bottom:1px solid #BFBFBF; height:33px; line-height:20px; padding-top:9px;}
.war3_top{ width:980px; margin:0 auto; padding:0 10px;}
.war3_top span{ float:right; padding-top:2px;}
.war3_top h1{ font:normal 11px Tahoma; background:url(http://war3.replays.net/09images/bg_img.gif) no-repeat 0px -45px; text-align:center; height:19px; width:180px; line-height:19px; color:#fff; margin-top:2px;}
.my_rep{ position: absolute; margin:-10px 0 0 -9px;}
/*********************RNnav**************************/
.rn_nav{ overflow:hidden; height:100%; width:1000px; margin:0 auto;}
.rn_nav ul{ padding:4px 10px; }
.rn_nav li{ float:left; padding-left:19px; height:24px; line-height:24px;}
.rn_nav li a{ padding-right:8px; background:url(http://war3.replays.net/09images/line.gif) repeat-y right top;}
	.rn_war3{ background:url(http://war3.replays.net/09images/new_ico.gif) no-repeat 2px 6px;}
	.rn_sc{ background:url(http://war3.replays.net/09images/new_ico.gif) no-repeat 2px -100px;}
	.rn_dota{ background:url(http://war3.replays.net/09images/new_ico.gif) no-repeat 2px -140px;}
	.rn_d3{ background:url(http://war3.replays.net/09images/new_ico.gif) no-repeat 2px -65px;}
	.rn_sc2{ background:url(http://war3.replays.net/09images/new_ico.gif) no-repeat 2px -177px;}
	.rn_dm{ background:url(http://war3.replays.net/09images/new_ico.gif) no-repeat 2px -211px;}
	.rn_hero{ background:url(http://war3.replays.net/09images/new_ico.gif) no-repeat 2px -246px;}
	.rn_book{ background:url(http://war3.replays.net/images/ico_book.gif) no-repeat 2px 6px;}
	.rn_shop{ background:url(http://dota.replays.net/images/cl.gif) no-repeat 2px 6px;}
/*********************DOTA header**************************/
.logo{ background:url(../09images/logo.jpg) no-repeat left top; height:134px;}
.logo ul{ width:180px; float:right; margin-top:10px;}
.logo li{ margin-top:8px;}
.nav_hero_dl{ background:url(http://dota.replays.net/09images/bg_hero_60.gif) no-repeat; height:121px; width:160px; float:right; margin:5px 25px 0 0; display:inline;}
.hero_60_dt{ line-height:46px; height:46px; overflow:hidden; font-weight:bold; color:#FFD800; padding-left:52px;}
.hero_60_dt a:link,.hero_60_dt a:visited,.item_60_dt a:link,.item_60_dt a:visited{ color:#FFD800;}
.item_60_dt{ line-height:46px; height:46px; overflow:hidden; font-weight:bold; color:#FFD800; margin-top:5px; padding-left:58px;}
.hero_60_dd{ font-weight:bold; margin-top:-5px; padding-left:58px;}
.item_60_dd{ font-weight:bold; margin-top:-5px; padding-left:60px;}
.nav_hero_dl dd a:link,.nav_hero_dl dd a:visited{ color:#530101;}
.nav{ background:url(../09images/bg_main.gif) no-repeat 0 0; height:32px; padding-left:20px;}
.nav li{ float:left; margin:5px 0 0 9px; text-align:center;}
.nav li a:link,.nav li a:visited{ background:url(../09images/bg_main.gif) no-repeat 0px -35px; width:96px; display:block; height:23px; overflow:hidden; line-height:25px; color:#FEFECB;}
.nav li a:hover,.nav li a:active{ font-weight:bold; text-decoration:none;}
.navhover a:link,.navhover a:visited{ font-weight:bold;} 
/*********************DOTA main**************************/
.main{ margin:3px auto; height:100%; overflow:hidden; clear:both; width:1000px;}
.main_l{ float:left; width:257px; margin-right:1px; padding-top:7px;}
	.title{ background:url(../09images/bg_title.gif) repeat-x 0 -116px; height:28px; line-height:28px; font-size:12px;}
	.title strong{ background:url(../09images/bg_main.gif) no-repeat -990px -50px; padding-left:15px;}
	.title em{ float:right; font-style:normal; font-size:11px; font-weight:normal;}
	.title_l{ background:url(../09images/bg_title.gif) repeat-x 0 -58px; display:block; height:28px; width:10px; float:left;}
	.title_r{ background:url(../09images/bg_title.gif) repeat-x 0px -87px; display:block; height:28px; width:15px; float:right;}
	.box{ border:1px solid #B2B2B2; padding:0px 0px 3px 0px; border-top:none; background:url(../09images/bg_title.gif) repeat-x 0px -542px; overflow:hidden; height:100%;}
	.box .dotatag {margin-bottom:5px;}
	.box .dotatag li{width:250px;height:24px;line-height:24px;text-align:center;}
	.box .dotatag a{background:url(../09images/dotatagli.gif) no-repeat 0px center;padding-left:18px;}
	.box .dotatag .tagtitle{background:url(../09images/dotatag.gif) no-repeat center 9px;}
	.boxnav1 li{float:left;width:70px;padding:2px 0px 2px 13px;font-size:12px;height:25px; border-bottom:dotted 1px #E2E2E2;line-height:25px;background:url(../09images/boxnavli.gif) no-repeat 4px center;}
	.boxnav2 li{float:left;width:110px;padding:2px 0px 2px 13px;font-size:12px;height:25px; border-bottom:dotted 1px #E2E2E2;line-height:25px;background:url(../09images/boxnavli.gif) no-repeat 4px center;}
	.navimg { margin:7px 0px;}
		.navimg img{ cursor:pointer;}
		.nav_img{ position: absolute; border:1px solid #4E253B; background-color:#FFFAF5; width:220px; overflow:hidden; padding:3px 0 0 3px; margin:-50px 0 0 256px;filter:alpha(opacity=95); -moz-opacity:0.95;}
		.nav_img li{ width:90px;}
	.sobox{ background:url(../09images/bg_so.gif) no-repeat center bottom; height:98px; overflow:hidden;}
	.sobox h4{ padding-top:3px;font-size:14px; text-align:center; height:30px; line-height:30px; color:#934B2E; background:url(../09images/bg_title.gif) repeat-x 0px -542px}
	.heros_txt{ border:1px solid #aaa; float:left; background-color:#fff; padding:5px 0 0 3px; height:20px; width:166px; color:#6C6C6C;}
	.heros_ok{ margin-top:2px; width:54px; height:23px; float:right; cursor:pointer;}
	.soheros{ padding:0 10px;}
	.inp{ border:1px solid #999; padding:0px 0 0 2px;height:23px; line-height:23px; font-size:14px; color:#666}
	.sman_selectedStyle{background-Color:#102681;color:#FFFFFF}
	.Box_hero{ border:1px solid #aaa; background:#fff;position:absolute; width:169px; overflow:hidden; margin-top:1px;}
	.Box_hero_li{ font-size:0px;}
	.Box_hero_li li{ font-size:12px;}
	.Box_hero li{ height:22px; overflow:hidden; line-height:22px; padding-left:3px; cursor:pointer; border-top:1px dotted #D3D3D3; margin-top:-1px; font-family:Tahoma; }
	.soheros li{clear:both;}
	.heros_2{ height:30px; line-height:30px; border-bottom:1px solid #AEC2BE;}
	.heros_2 em{ font-style:normal; padding:0 1px; color:#C70400;}
	.heros_2 strong{ float:right;}
	.heros_2 strong a:link,.heros_2 strong a:visited { text-decoration: underline; color: #C70400; }
	.heros_3 { line-height:18px; color:#282276; padding:5px 0;}
	.heros_3 strong{ color:#C70400;}
	.Tuno_title,.Tuyes_title{margin-top:6px; }
	.Tuyes_title .title_r{background:url(../09images/bg_title.gif) repeat-x;}
	.Tuno_title .title_r{background:url(../09images/bg_title.gif) repeat-x 0 -29px;}
.main_c{ float:left; width:389px; margin:0 4px;}
	.news_title{ background:url(../09images/bg_main.gif) no-repeat 0px -64px; height:45px; text-align:right;  font-size:11px; line-height:45px; color:#fff; font-weight:normal; padding-right:10px;}
	.news_title a:link,.news_title a:visited { color:#fff;}
	.news{ border:1px solid #B1B1B1; border-top:none; padding:0 1px; margin-bottom:5px;}
		.hot{ border:1px solid #CBCBCB; background:url(../09images/bg_title.gif) repeat-x 0px -452px; height:88px; overflow:hidden; padding:0 20px;}
		.hot h2{  font-size:14px; text-align:center; margin:6px 0; line-height:24px; height:24px; padding-bottom:4px; overflow:hidden; background:url(../09images/bg_main.gif) repeat-x 0px -111px;}
		.hot h2 a:link,.hot h2 a:visited { color:#CB0000;}
		.hot em{ font-style:normal; line-height:22px; text-indent: 2em; color:#656565; display:block; }
		.list{ background:url(../09images/bg_news.gif) no-repeat -1px top; height:343px; padding:7px 13px 0 55px;}
		.list li{ height:27px; border-bottom:dotted 1px #E2E2E2;  line-height:27px; overflow:hidden; color:#757575;}
		.list li a{ margin-left:3px;}
	.rili_title{ background:url(../09images/bg_title.gif) repeat-x 0px -412px; height:31px; clear:both;}
	.rili_title .title_l{ background:url(../09images/bg_title.gif) no-repeat 0px -145px; height:31px;}
	.rili_title .title_r{ background:url(../09images/bg_title.gif) no-repeat 0px -177px; height:31px;}
	.rili_title strong{ line-height:31px; font-size:12px; background:url(../09images/bg_main.gif) no-repeat -985px -186px; padding-left:25px;}
	.rili_box{ background:none #EAEAE9; padding:4px;}
	.col_box{ height:100px; padding-top:4px; overflow:hidden; margin:0px;}
	.col_box dl{ float:left; width:82px; height:89px; overflow:hidden; margin:3px 0px 0px 11px; display:inline;}
	.col_img{ float:left; width:82px; height:89px; overflow:hidden;}
	.col_img img{ margin:2px 0 0 2px;}
	.col_ico{ float:left; width:82px; height:89px; margin-left:-82px; overflow:hidden;}
	.col_title{ text-align:center; float:left; margin-top:-20px; width:82px; height:22px; overflow:hidden;}
.main_r{ float:left; width:345px; padding-top:7px;}
	.flash{ text-align:center; padding:8px 0; margin-bottom:5px;}
	.flash_l{ background:url(http://war3.replays.net/09images/bg_flash.gif) no-repeat -4px 0px; float:left; display:block; width:15px; height:265px;}
	.flash_r{ background:url(http://war3.replays.net/09images/bg_flash.gif) no-repeat -19px 0px; float:right; display:block; width:15px; height:265px;}
	.download{ padding:0 5px;}
	.download_dl{ margin:2px 0;}
	.download_dl dt{ border-bottom:1px solid #C9C9C9; height:26px; line-height:26px; padding-left:20px; background:url(../09images/bg_main.gif) no-repeat -453px -83px; color:#566473; font-weight:bold;}
	.download_dl dd{ line-height:25px; border-bottom:1px dotted #E2E2E2; background:url(../09images/bg_main.gif) no-repeat -452px -134px; padding-left:15px;}
*html .download_dl dd img{ vertical-align:middle;margin:5px 3px 6px 0;}
	.Search_box{ padding:0px;}
	.Search{ background:url(../09images/bg_main.gif) no-repeat -928px -125px; padding-left:65px; padding-bottom:5px; overflow:hidden; height:100%;}
	.Search input{ margin-left:3px;}
	.Search dd{ padding:3px 0 3px 15px; overflow:hidden; height:100%;}
	.searchtxt{ background:url(../09images/bg_main.gif) no-repeat -208px -33px; height:24px; padding:6px 0 0 3px; color:#656565; border:none; width:265px; float:left;}
	.searchgo{ background:url(../09images/bg_main.gif) no-repeat -486px -33px; width:43px; height:27px; line-height:27px; font-weight:bold; color:#190084; border:none; float:left; cursor:pointer;}
.left{ float:left; width:651px; margin-right:4px;}
	.left .title{ background:url(../09images/bg_title.gif) repeat-x 0px -286px; height:32px; line-height:31px; font-size:12px;}
	.left .title_l{ background-position:0px -220px; height:32px;}
	.left .title_r{ background-position:0px -253px; height:32px;}
	.left_box{ background:none #EAEAE9; padding:3px; padding-top:0px;}
	.left_box_to{ background-color:#fff; border:1px solid #B2B2B2; border-top:none; padding:8px 10px; overflow:hidden; height:100%;}
	.voder_left{ float:left; width:630px; border-right:1px dotted #ccc;}
		.voder_title{ display:block; margin:8px 0; border-bottom:1px solid #C9C9C9; height:24px; line-height:24px; padding-left:20px; background:url(../09images/bg_main.gif) no-repeat -453px -85px; color:#566473; margin-right:10px;}
		.voder_title em{ float:right; font-weight:normal; font-style:normal; font-size:11px;}
		.voder_nav{ background:url(../09images/bg_main.gif) no-repeat 0 -173px; height:20px; padding:7px 0 0 10px;}
		.voder_nav li{ float:left; background:url(../09images/bg_navvod_li.gif) no-repeat; width:110px; height:18px; line-height:19px; overflow:hidden; color:#5B5B5B; text-align:center; margin:0 2px;}
		.video_dl { height:77px; border-bottom:1px solid #ECECEC; float:left; width:310px; float:left; overflow:hidden; margin-bottom:4px; }
		.Video_ico { width:101px; height:73px; float:left; }
		.Video_box { margin-left:-101px; float:left; }
		.Video_title { float:left; width:200px; height:24px; overflow:hidden; line-height:24px; font-weight:bold; padding-left:4px; border-bottom:1px dotted #CFCFCF; }
		.Video_txt { line-height:22px; width:200px; color:#757575; float:left; padding-left:4px; }
	.video_list{ float:left; width:325px; margin-left:10px;}
	.video_list .video_img{ text-align:center; margin-bottom:5px; padding:0px; border-bottom:none; height:30px;}
	.video_list .video_title{ border-bottom:1px solid #C9C9C9; height:24px; line-height:24px; padding-left:20px; background:url(../09images/bg_main.gif) no-repeat -453px -85px; color:#566473; font-weight:bold;}
	.video_list .video_moer{ text-align:center; border-bottom:none;}
	.video_list li{ line-height:26px; height:26px; overflow:hidden; padding-left:5px; border-bottom:1px dotted #E2E2E2;}
	.dotaitem { clear:both; padding-left:3px; padding:2px 0px; border-bottom:dotted 1px #E0E0E0; height:26px; cursor:pointer; }
	.dotaitem li { float:left; line-height:26px; display:block; }
	.it_team { width:140px; text-align:center;}
	.dotaitem .it_team span { display:block; background-color:#000000; margin:52px 0px 0px -66px; font-size:10px; color:#ffffff; width:64px; text-align:center; overflow:hidden; filter:alpha(opacity=80); opacity:0.8; line-height:12px; float:left; }

	.it_team img {width:26px; height:26px; margin:0 1px}
	.dotahead .it_Comments{ width:48px;}
	.it_Comments{ width:44px; text-align:center;}
	.it_Comments img{ margin-top:5px;}
	.it_down{ text-align:center; width:33px;}
	.it_teamname1 { width:67px; text-align:right; font-weight:bold; height:25px; overflow:hidden;}
	.it_teamname2 { width:67px; font-weight:bold; overflow:hidden; height:25px; overflow:hidden;}
	.dotaitem .it_vs { width:20px; text-align:center;}
	.it_level { width:20px; padding-top:2px;}
	.it_time { width:40px; text-align:center; overflow:hidden;}
	.dotaitem .it_down,.dotaitem .it_time{ font-size:11px;}
	.Div_more { text-align:center; line-height:23px; clear:both; }
	.it_showcontent{ position: absolute; border:1px solid #4E253B; padding:5px; width:550px; margin:1px 0 0 20px; height:200px; overflow:auto; line-height:20px; display:none; background:url(http://dota.replays.net/09images/xxxxx.gif) 520px 5px #FFFAF5 no-repeat; cursor:pointer; filter:alpha(opacity=95); -moz-opacity:0.95;}
	*html .it_showcontent{background:url(http://dota.replays.net/09images/xxxxx.gif) 520px 5px #FFFAF5 no-repeat fixed;}
	.it_keyword { width:50px; overflow:hidden; text-align:center; height:30px; }
	.it_title { width:154px; overflow:hidden; text-align:center; }
	.reptop { margin-bottom:8px; overflow:hidden; height:100%; padding-left:3px;}
	.reptop li{ float:left; margin:0 4px; display:inline;}
	.dotahead{ background:url(../09images/bg_title.gif) repeat-x 0px -381px; height:30px; overflow:hidden; line-height:30px; margin-bottom:5px; clear:both;}
	.dotahead li{ float:left; overflow:hidden;}
	.dotahead .it_vs{ font-weight:bold; line-height:30px; padding-top:0px; height:30px;}
	.dotahead .it_level{ background:url(../09images/bg_title.gif) no-repeat 0 -319px; height:30px;}
	.dotahead .it_Comments{ background:url(../09images/bg_title.gif) no-repeat right -350px;}
	.cutpage{ text-align:center; padding:5px 0; display:block; font-weight:bold; padding-right:65px;}
.right{ float:left; width:345px;}
	.replist li,.partitem{ background:url(../09images/bg_main.gif) no-repeat -450px -131px; height:26px; line-height:26px; overflow:hidden; padding-left:20px; border-bottom:1px dotted #E2E2E2;}
	.partitem { color:#666; text-align:right; padding-right:5px;}
	.partitem a{ float:left;}
	.dotareplays{ text-align:center; margin:5px 0; padding:5px 0; border-bottom:1px solid #BFBFBF;}
	.imgtxt { margin:7px 3px 4px 3px; border-bottom:1px solid #E2E2E2; overflow:hidden; height:100%; padding:0 5px 4px 5px;}
	.imgtxt .imgtxt_img{ float:left; margin-right:3px;}
		.imgtxt_img span{ display:block; width:64px; height:64px; float:left;}
		.imgtxt_img img{ float:left; margin-left:-64px;}
	.imgtxt .imgtxt_txt{ line-height:20px; height:40px; overflow:hidden; color:#767676;}
	.imgtxt dt{ font-weight:bold; line-height:22px; height:22px; overflow:hidden; border-bottom:1px solid #EBEBEB;}
.heroes_ul { height:23px; border-bottom:1px solid #ccc; padding:8px 0 0 8px;}
.heroes_ul li { line-height:23px; float:left; padding:0 3px; text-align:center; cursor: pointer; }
.heroes_in_div { padding-left:5px; overflow:hidden; }
.heroes_in_div li { float:left; margin:0 5px; margin-bottom:5px; display:inline; }
.heroes_in_div li img { width:45px; height:45px; }
.heroes_fieldset { width:330px; padding-top:2px; height:125px; }
.heroes_fieldset legend { padding:2px; font-weight:bold; display:inline; font-size:12px; }
.heroes_ul .txt_3 { background:url(../09images/heromenu.gif) no-repeat center -23px; text-align:center; height:22px; width:76px; color:#696969; }
.heroes_ul .txt_3_1 { background:url(../09images/heromenu.gif) no-repeat center 0px; text-align:center; height:22px; width:76px; color:#121212; }
.zt_html{ padding:5px;}
.zt_html dd{ text-align:center; height:65px; width:320px; margin:0 auto;}
.zt_html dt{ line-height:22px; text-align:center;}
/*******news_list*********/
.news_list{ padding:0 5px;}
.news_list li{ line-height:26px; height:26px; border-bottom:1px dotted #ccc;}
/************Replays_soso*************/
.so_dota_rep{ margin-bottom:8px;}
.so_dota_rep .it_level{ float:left;}
.so_dota_rep .it_Comments{ float:right;}
.so_dota_rep_ul { border-bottom:1px solid #E0E0E0; overflow:hidden; height:100%;}
.so_dota_rep_ul li{ float:left; border:1px solid #E0E0E0; border-bottom:none; padding:1px 3px 0px 3px; line-height:18px; margin:0 3px; cursor:pointer; background-color:#EEE;}
.so_dota_rep_ul .txt_3_1{ background-color:#fff; font-weight:bold;}
.so_dota_rep_ultxt{ margin-bottom:8px;}
.so_dota_rep_ultxt li{ float:left; margin:3px; padding:3px; width:65px;}
.so_dota_rep_ultxt li a:link,.so_dota_rep_ultxt li a:visited{ display:block;}
.so_dota_rep_ultxt li a:hover,.so_dota_rep_ultxt li a:active { background-color:#9999FF; text-decoration: none; }
/********download****************/
.download_left{ float:left; width:630px; border-right:1px dotted #ccc;}
.down_map{ overflow:hidden; height:100%; border-bottom:1px solid #ccc; padding:5px 3px 5px 3px; margin:0 10px 0px 0;}
.maptos { background-color:#fafafa;}
.down_map dt{ float:right;}
.down_map dt img{ width:95px; height:95px; border:1px solid #ccc; padding:2px;}
.down_map dd{ line-height:33px;}
.down_map strong{}
.down_map em{ font-style:normal; font-weight:bold; color:red;}
/******bbs**********/
.bbslist{ float:left; width:318px; margin:0 5px 5px 0; overflow:hidden;}
.bbshot{ width:630px;}
.topicslist li{ float:left; width:295px; margin-right:5px;}
.bbslist .bbstitle{ background:none; height:22px; line-height:22px; border-bottom:1px solid #CECECE; font-size:14px; font-weight:bold; padding:0px;}
.bbslist li{ line-height:28px; height:28px; overflow:hidden; background:url(../09images/bg_main.gif) no-repeat -452px -131px; padding-left:15px; border-bottom:1px dotted #E2E2E2;}
.link{clear:both;}
	.linklist li{ float:left; line-height:24px; padding:3px 5px;}
/*****footer*****/
.footer{ text-align:center;}
.map{ height:30px; line-height:30px; border-bottom:1px dotted #CCCCCC; border-top:1px solid #CECECE; background-color:#F4F4F4; font-weight:bold;}
.copyRight{ line-height:22px; font-size:11px;}
.copyRight em{ font-style:normal; }


/*--dota 图赏区--*/
.dota_mm_div{ padding:5px 0 0 5px; height:135px; overflow:hidden;}
.dota_mm_div .mm_dl{ float:left; margin:0 7px; display:inline; }
.mm_dl dd{ background:url(http://p.replays.net/images/mm_box.gif) no-repeat; width:147px; height:107px; padding:3px 0 0 3px; }
.mm_dl dd img{ height:100px; width:140px; }
.mm_dl dt{ text-align:center; line-height:20px; height:20px; overflow:hidden; padding:3px 0; width:150px; }


/*toutiao*/
.news_h2{ text-align:center; font-size:14px; height:26px; line-height:26px;}
.news_h3{ text-align:center; font-size:12px; font-weight:normal; height:22px; line-height:22px; border-bottom:1px dotted #024E6E; margin:0 5px; padding-bottom:2px;}
.news_h5{ text-align:center; font-size:12px; font-weight:normal; padding:3px;}


.rn_nav ul .nav_new a{ background:none;}